[MAIN]
fail-under=10.0
disable=
    missing-docstring,
    too-few-public-methods,
    too-many-arguments,
    too-many-instance-attributes,
    fixme,
load-plugins=
    pylint_quotes,

[FORMAT]
max-line-length=120
string-quote=single
triple-quote=double
docstring-quote=double