name: CI
on:
  workflow_dispatch:
  push:
    branches:
      - '*'
      - '!master'
jobs:
  deploy:
    name: Check & Deploy Snapshot
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.11'
      - uses: snok/install-poetry@v1
      - run: poetry install
      - run: make lint
      - run: make test
        env:
          TASTYTRADE_LOGIN: ${{ secrets.TASTYTRADE_LOGIN }}
          TASTYTRADE_PASSWORD: ${{ secrets.TASTYTRADE_PASSWORD }}
      - run: make check_docs