name: Release
concurrency:
  group: tastytrade-sdk-python-release
  cancel-in-progress: true
on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.11'
      - uses: snok/install-poetry@v1
      - run: poetry install
      - run: make lint
      - run: make test
        env:
          TASTYTRADE_LOGIN: ${{ secrets.TASTYTRADE_LOGIN }}
          TASTYTRADE_PASSWORD: ${{ secrets.TASTYTRADE_PASSWORD }}
      - run: make check_docs
      - name: Publish
        run: |
          poetry publish --build \
            -u ${{ secrets.PYPI_USERNAME }} \
            -p ${{ secrets.PYPI_PASSWORD }}